.main-container {
  width: 100vw;
  min-height: 6vh;
  max-height: 6vh;
  background-color: rgb(201, 129, 41);
  z-index: 999;
  touch-action: none;
}

.main-container div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.brandlogo-container {
  min-width: 10vw;
}

.brandlogo-container img {
  cursor: pointer;
  max-width: 1.8rem;
  max-height: 1.8rem;
}

.navigation-container-large {
  min-width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.active-nav :nth-child(1) {
  color: #ff0000;
}

.active-nav :nth-child(2) {
  color: #ff0000;
}

.navigation-container-large a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aqua;
  text-decoration: none;
}

.navigation-container-large a span {
  font-size: 1.5rem;
}

.navigation-container-large a:nth-child(1) .home {
  font-size: 1.5rem;
}

.navigation-container-large a:nth-child(2) .about {
  font-size: 1.5rem;
}

.navigation-container-large a:nth-child(3) .projects {
  font-size: 1.2rem;
}

.navigation-container-large a:last-child .contact {
  font-size: 1.4rem;
}

/* smoothness for bundle toggle button */

.bundle-toggle {
  font-size: 1.7rem;
  fill: rgb(8, 243, 243);
  transition:
    transform 0.3s ease,
    fill 0.2s ease;
}

.bundle-toggle:active {
  fill: red;
  transform: scale(1.2);
}

/* smoothness for cross-toggle button */
.cross-toggle {
  font-size: 1.5rem;
  fill: rgb(8, 243, 243);
  transition:
    transform 0.3s ease,
    fill 0.2s ease;
}

.cross-toggle:active {
  fill: red;
  transform: scale(1.2);
}

.navigation-container-small {
  margin: auto;
  min-height: auto;
  min-width: 60vw;
  position: absolute;
  z-index: 9999;
  top: 4.5rem;
  right: 1%;
  background-color: rgba(6, 44, 168, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0.8rem;
  padding: 0.5rem 0.2rem;
}

.navigation-container-small a {
  cursor: default;
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 800;
}

.small-nav-active:focus {
  color: red;
  text-decoration-line: underline;
  text-decoration-thickness: 0.125rem;
  text-decoration-color: #ff0000;
}

.animation-toggle {
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  0% {
    position: fixed;
    flex-direction: row;
    justify-content: flex-start;
    visibility: hidden;
    opacity: 0;
    z-index: -9999;
    top: 1rem;
    right: 0;
    background-color: "";
    border-radius: 0.8rem;
    width: 15vw;
  }

  50% {
    position: fixed;
    flex-direction: row-reverse;
    justify-content: flex-end;
    visibility: hidden;
    opacity: 0.5;
    z-index: -9999;
    top: 2rem;
    right: 0.2%;
    background-color: rgba(168, 6, 9, 0.8);
    border-radius: 1.2rem;
    width: 50vw;
  }

  100% {
    visibility: visible;
    opacity: 1;
    margin: auto;
    min-height: auto;
    min-width: 60vw;
    position: absolute;
    z-index: 9999;
    top: 4.5rem;
    right: 1%;
    background-color: rgba(6, 44, 168, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0.8rem;
    padding: 0.5rem 0.2rem;
  }
}
