* {
  margin: 0;
  padding: 0;
}

.main-section-one {
  background-color: hsla(301, 69%, 28%, 0.5);
  height: auto;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section-two {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dev-intro {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-bottom: 1rem;
  border-bottom: 1.5px solid rgba(26, 25, 25, 0.2);
}

.dev-intro > div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.dev-img-container {
  display: flex;
  justify-content: space-between;
}
.dev-img-container > :first-child {
  color: white;
  font-size: 2rem;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5);
}
.dev-img-container > :last-child {
  width: 14rem;
  height: 16rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem 3rem / 3rem 6rem;
}

.dev-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.dev-info-container > * {
  color: white;
}
.dev-info-container > :first-child {
  font-size: 2.4rem;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}
.dev-info-container > :nth-child(2) {
  font-size: 1.8rem;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.dev-info-container > :last-child {
  font-size: 1.5rem;
}

.dev-journey {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1.5px solid rgba(26, 25, 25, 0.2);
}

.dev-journey > div {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.dev-journey > div > * {
  font-size: 1.5rem;
  color: white;
}

.dev-journey > div > h1 {
  font-size: 1.8rem;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.dev-journey > div > p > span {
  font-weight: 900;
  text-decoration-line: underline;
  text-decoration-color: rgba(26, 25, 25, 0.3);
}
.dev-skills {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1.5px solid rgba(26, 25, 25, 0.2);
}

.dev-skills > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.5rem;
}

.dev-skills > div > p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.6rem;
  column-gap: 0.5rem;
  position: relative;
}

.dev-skills > div > * {
  color: white;
  font-size: 1.5rem;
}

.dev-skills > div > h1 {
  font-size: 1.8rem;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.dev-skills > div > p > :not(:last-child) {
  /* applying css on all children except the last child */
  font-weight: 900;
  box-shadow: 0px 0px 1.5px 1.5px rgba(0, 0, 0, 0.5);
  padding: 0.2rem 0.4rem;
  border: none;
  border-radius: 0.5rem;
}

.dev-skills > div > p > :last-child {
  /* this pushes the last child to the most left wall of the parent
   element as I used position relative on parent element */
  margin-right: auto;
}

.dev-experience {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1.5px solid rgba(26, 25, 25, 0.2);
}

.dev-experience > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
}

.dev-experience > div > * {
  color: white;
  font-size: 1.5rem;
}

.dev-experience > div > h1 {
  font-size: 1.8rem;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (min-width: 600px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
