/* main container of home-page */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.main-section-one {
  margin-bottom: auto;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(301, 69%, 28%, 0.5);
  z-index: 999;
}

.main-section-two {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.main-section-two > :first-child {
  width: 100%;
}

.owner-info {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.owner-info > :first-child {
  min-width: 13rem;
  max-width: 20rem;
  height: fit-content;
  background-color: rgb(209, 0, 205);
}

.dev-img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 0.4rem;
  box-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding-bottom: 0.3rem;
}
.dev-img-container img {
  width: 13rem;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.dev-img-container > :last-child {
  margin-bottom: 0.2rem;
}
.dev-img-container p {
  color: white;
  font-weight: 600;
  -webkit-text-stroke: rgba(0, 0, 0, 0.5) 0.3px;
}

.owner-info > :last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0.2rem;
  color: white;
}

.dev-info-container h1 {
  text-wrap: nowrap;
  text-transform: capitalize;
  font-size: clamp(1.8rem, 4vw, 5rem);
  font-weight: 800;
}

.dev-info-container h2 {
  font-size: clamp(1.6rem, 4vw, 4rem);
  font-weight: 800;
}

.dev-info-container h3 {
  font-size: clamp(1.2rem, 4vw, 3.5rem);
  font-weight: 800;
  word-spacing: 1px;
  letter-spacing: 0.3px;
  word-wrap: break-word;
  word-break: normal;
  hyphens: auto;
}

.dev-info-container h4 {
  margin-top: 1rem;
  font-size: clamp(1.6rem, 4vw, 3rem);
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.dev-info-container p {
  font-size: clamp(1.4rem, 4vw, 2rem);
  line-height: 1.4rem;
  word-break: normal;
  word-wrap: break-word;
  hyphens: auto;
}

@media (min-width: 400px) {
}

/*
.owner-info {
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  flex: 2;
}

.owner-info div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 2rem;
}

.dev-img-container div {
  height: fit-content;
  background-color: rgba(250, 1, 196, 0.826);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0;
  border-radius: 1rem 2rem / 2rem 4rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 0 0.2rem 1rem 0.2rem;
}

.dev-img-container div img {
  width: 11rem;
  height: 12rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 2.4rem;
}

.dev-img-container > div :nth-child(2) {
  font-size: 0.9rem;
  font-weight: 800;
  margin: auto;
  margin: 0.2rem auto;
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.dev-img-container > div :nth-child(3) {
  font-size: 0.9rem;
  font-weight: 800;
  margin: auto;
  margin: 0.2rem auto;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.dev-info-container > div {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dev-info-container > div * {
  margin: 0rem auto 0rem 0rem;
  color: white;
}

.dev-info-container div :first-child {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 900;
  text-shadow: 2px 3px 3px rgba(5, 33, 245, 0.4);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dev-info-container div :nth-child(3) {
  margin-bottom: 2.2rem;
  font-size: 2rem;
}

.dev-info-container div :nth-child(4) {
  font-size: 1.8rem;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dev-info-container div :nth-child(5) {
  font-size: 1.4rem;
  font-weight: 800;
  hyphens: auto;
  overflow-wrap: break-word;
}

.this-info {
  padding: 0 0.5rem;
  flex: 1;
}

.this-info div {
  margin: 0;
}

.this-info > div > div * {
  color: white;
  display: inline;
  margin: 0;
}

.this-info > div > div > :first-child {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.this-info > div > div > :nth-child(2) {
  font-size: 1.5rem;
  font-weight: 700;
  hyphens: auto;
  overflow-wrap: break-word;
}

.this-info > div > div > :nth-child(3) {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  hyphens: auto;
  overflow-wrap: break-word;
}

.projects-info {
  flex: 1.5;
  width: auto;
  margin: auto 1rem;
}

.projects-info > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 0.7rem;
}

.projects-info > div * {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 9.5rem;
  height: 10rem;
  border-radius: 1rem;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1;
}
  */

/* On clicking: dim all children */
/*
.projects-info > div:has(*:active) > * {
  opacity: 0.3;
}

.projects-info > div *:active {
  opacity: 1;
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .owner-info > div {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10rem;
  }

  .dev-img-container > div > img {
    width: 20rem;
    height: 22rem;
  }

  .dev-img-container > div > :nth-child(2) {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .dev-img-container > div > :nth-child(3) {
    font-size: 1.3rem;
    font-weight: 800;
  }
*/
/*
  .dev-info-container > div > :first-child {
    font-size: 3rem;
    background-image: url("../../assets/Modern-Todo-App.png"); image you want inside text 
    background-size: cover;
    background-position: center;
    color: transparent;  make the text transparent 
    -webkit-background-clip: text;  for Chrome, Safari 
    background-clip: text;  standard 
  }

  .dev-info-container > div > :nth-child(2) {
    font-size: 2rem;
  }

  .dev-info-container > div > :nth-child(3) {
    font-size: 2.2rem;
  }
  .dev-info-container > div > :nth-child(5) {
    font-size: 1.6rem;
    max-width: 45rem;
  }

  .this-info {
    width: 100vw;
  }
  .this-info > div {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .this-info > div > div {
    width: 75vw;
  }

  .this-info > div > div > :first-child {
    font-size: 2.5rem;
  }

  .this-info > div > div > :nth-child(2) {
    font-size: 1.8rem;
    width: 90%;
  }
  .this-info > div > div > :nth-child(3) {
    font-size: 1.8rem;
    width: 90%;
  }

  .projects-info > div {
    margin-top: 1.5rem;
  }

  .projects-info > div * {
    width: 13rem;
    height: 14.5rem;
    cursor: pointer;
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
  }

  .projects-info > div *:hover {
    transform: translateY(-4px);
  }

  .projects-info > div:has(*:active) > * {
    opacity: 0.3;
  }

  .projects-info > div *:active {
    opacity: 1;
    transform: scale(1.1);
  }
}
*/
