/* main container of home-page */
* {
  margin: 0;
  padding: 0;
  border: 0;
  user-select: none;
  -webkit-user-select: none; /* Safari / iOS */
  -ms-user-select: none; /* old Edge */
}

.main-section-one {
  margin-bottom: auto;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(301, 69%, 28%, 0.5);
  z-index: 999;
  padding-bottom: 2rem;
  touch-action: pan-y; /* allows vertical scroll, blocks horizontal default */
}

.main-section-two {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  row-gap: 1.5rem;
}

.main-section-two > :first-child {
  width: 100%;
}

.owner-info {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.owner-info > :first-child {
  min-width: 13rem;
  max-width: 20rem;
  height: fit-content;
  background-color: rgb(209, 0, 205);
}

.dev-img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 0.4rem;
  box-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding-bottom: 0.3rem;
}
.dev-img-container img {
  width: 13rem;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.dev-img-container > :last-child {
  margin-bottom: 0.2rem;
}
.dev-img-container p {
  color: white;
  font-weight: 600;
  -webkit-text-stroke: rgba(0, 0, 0, 0.5) 0.3px;
  text-align: center;
}

.owner-info > :last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0.2rem;
  color: white;
}

.dev-info-container h1 {
  text-wrap: nowrap;
  text-transform: capitalize;
  font-size: clamp(1.8rem, 4vw, 5rem);
  font-weight: 800;
}

.dev-info-container h2 {
  font-size: clamp(1.6rem, 4vw, 4rem);
  font-weight: 800;
}

.dev-info-container h3 {
  font-size: clamp(1.2rem, 4vw, 3.5rem);
  font-weight: 800;
  word-spacing: 1px;
  letter-spacing: 0.3px;
  word-wrap: break-word;
  word-break: normal;
  hyphens: auto;
}

.dev-info-container h4 {
  margin-top: 1rem;
  font-size: clamp(1.6rem, 4vw, 3rem);
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.dev-info-container p {
  font-size: clamp(1.4rem, 4vw, 2rem);
  line-height: normal;
  word-break: normal;
  word-wrap: break-word;
  hyphens: auto;
}

.main-section-two :nth-child(2) {
  width: 100%;
}

.this-info div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.8rem;
}

.this-info div * {
  color: white;
}

.this-info div h1 {
  font-size: clamp(1.6rem, 4vw, 3rem);
  font-weight: 800;
}

.this-info div p {
  font-size: clamp(1.4rem, 4vw, 2rem);
  line-height: normal;
  word-break: normal;
  word-wrap: break-word;
  hyphens: auto;
}

.main-section-two :last-child {
  width: 100%;
}

.projects-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.projects-info div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  row-gap: 2rem;
}
.firstChild {
  width: 16rem;
  height: 17rem;
  border-radius: 2rem;
  box-shadow: 1px 6px 2px rgba(0, 0, 0, 0.5);
}
.secondChild {
  max-width: 16rem;
  height: 17rem;
  border-radius: 2rem;
  box-shadow: 1px 6px 2px rgba(0, 0, 0, 0.5);
}
.thirdChild {
  width: 16rem;
  height: 17rem;
  border-radius: 2rem;
  box-shadow: 1px 6px 2px rgba(0, 0, 0, 0.5);
}
.fourthChild {
  width: 16rem;
  height: 17rem;
  border-radius: 2rem;
  box-shadow: 1px 6px 2px rgba(0, 0, 0, 0.5);
}
.fifthChild {
  width: 16rem;
  height: 17rem;
  border-radius: 2rem;
  box-shadow: 1px 6px 2px rgba(0, 0, 0, 0.5);
}
.sixthChild {
  max-width: 16rem;
  height: 17rem;
  border-radius: 2rem;
  box-shadow: 1px 6px 2px rgba(0, 0, 0, 0.5);
}

.identified {
  max-width: 16rem;
  height: 17rem;
  border-radius: 7rem;
  box-shadow: 1px 6px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.projects-info div img:active {
  transform: scale(1.12);
}

.has-blured {
  filter: blur(6px);
}

@media (min-width: 768px) {
  .main-section-two > :first-child {
    width: 80%;
    /* background-color: aqua; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 1.5rem;
  }

  .owner-info > :first-child {
    min-width: 25rem;
    max-width: 32rem;
    height: fit-content;
    background-color: rgb(209, 0, 205);
  }

  .dev-img-container img {
    width: 25rem;
    max-width: 100%;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .dev-img-container p {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    -webkit-text-stroke: rgba(0, 0, 0, 0.5) 0.3px;
    text-align: center;
  }

  .this-info div :last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 1.5rem;
  }
  .projects-info div {
    justify-content: center;
  }
}

@media (min-width: 1024.1px) {
  .owner-info {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
  }
  .dev-info-container {
    max-width: 70rem;
  }

  .this-info div {
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.8rem;
  }

  .projects-info div {
    justify-content: center;
  }
  .projects-info div img {
    cursor: pointer;
  }
}
