/* main container of home-page */

.main-section {
  margin-bottom: auto;
  min-width: 100vw;
  height: auto;
  background-color: hsla(301, 69%, 28%, 0.4);
  padding-bottom: 1rem;
  z-index: 999;
}

.main-section div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.8rem;
}

.owner-info {
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  flex: 2;
}

.owner-info div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 2rem;
}

.dev-img-container div {
  height: fit-content;
  background-color: rgba(250, 1, 196, 0.826);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0rem 4rem 7rem rgba(0, 0, 0, 0.4);
  padding: 0 0.2rem 1rem 0.2rem;
}

.dev-img-container div img {
  width: 11rem;
  height: 12rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.dev-img-container > div :nth-child(2) {
  font-size: 0.9rem;
  font-weight: 800;
  margin: auto;
  margin: 0.2rem auto;
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.dev-img-container > div :nth-child(3) {
  font-size: 0.9rem;
  font-weight: 800;
  margin: auto;
  margin: 0.2rem auto;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.dev-info-container {
}

.dev-info-container > div {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dev-info-container > div * {
  margin: 0rem auto 0rem 0rem;
  color: white;
}

.dev-info-container div :first-child {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 900;
  text-shadow: 2px 3px 3px rgba(5, 33, 245, 0.4);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dev-info-container div :nth-child(3) {
  margin-bottom: 2.2rem;
  font-size: 2rem;
}

.dev-info-container div :nth-child(4) {
  font-size: 1.8rem;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dev-info-container div :nth-child(5) {
  font-size: 1.4rem;
  font-weight: 800;
  hyphens: auto;
  overflow-wrap: break-word;
}

.this-info {
  padding: 0 0.5rem;
  flex: 1;
}

.this-info div {
  margin: 0;
}

.this-info div * {
  color: white;
  display: inline;
  margin: 0;
}

.this-info div :first-child {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.this-info div :nth-child(2) {
  font-size: 1.5rem;
  font-weight: 700;
  hyphens: auto;
  overflow-wrap: break-word;
}

.this-info div :nth-child(3) {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  hyphens: auto;
  overflow-wrap: break-word;
}

.projects-info {
  flex: 1.5;
  width: auto;
  margin: auto 1rem;
}

.projects-info > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 0.7rem;
}

.projects-info > div * {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 9.5rem;
  height: 10rem;
}
