* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-section-one {
  width: 100vw;
  height: auto;
  align-self: center;
  background-color: hsla(301, 69%, 28%, 0.5);
}

.main-section-one > div {
  position: absolute;
  color: white;
  font-size: 1rem;
  left: 25vw;
  top: 6.5%;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}

.main-section-two {
  width: 100%;
  height: auto;
  padding: 6rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 0.5rem;
}

.main-section-two > * {
  flex: 0 0 40%; /* each item takes 40% width of the parent->main-section-two's width */
}

.main-section-two > div {
  /* its width is 40% of the parent width main-section-two */
  background-color: rgba(38, 197, 225, 0.726);
  height: auto;
  border-radius: 1rem;
  border-top-right-radius: 4rem 8rem;
  border-top-left-radius: 2rem 4rem;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  position: relative;
}

.main-section-two > div:hover {
  transform: scale(1.03);
}

.main-section-two > div:hover::after {
  opacity: 1;
  z-index: 99999;
}

.main-section-two > div::after {
  content: "Double click on image to enter the project";
  position: relative;
  bottom: 10rem;
  left: 3%;
  opacity: 0;
  transition: opacity 0.3s;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 4px 8px;
  font-size: 1rem;
  /* white-space: wrap; */
  text-wrap: wrap;
}

.main-section-two > div img {
  width: 100%;
  height: 80%;
  border-radius: 2rem 4rem/4rem 8rem;
}

.main-section-two > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

/* .main-section-two > div :nth-child(4) {
  margin-top: 0.2rem;
} */

.main-section-two > div > div > :first-child {
  color: white;
  font-size: 1.1rem;
  white-space: wrap;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.3px;
}

.main-section-two > div > div :last-child {
  font-size: 1rem;
  text-wrap: nowrap;
  color: white;
  padding: 0.2rem 0.5rem;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 255, 0.4),
    rgba(255, 0, 0, 0.3),
    rgba(0, 255, 0, 0.2)
  );
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}

.main-section-two > div > div :last-child:active {
  background: none;
  background-color: rgb(14, 14, 117);
}

@media (min-width: 400px) {
  .main-section-one > div {
    font-size: 1.3rem;
    left: 26vw;
  }

  .main-section-two {
    row-gap: 1.5rem;
  }

  .main-section-two > div::after {
    font-size: 1.5rem;
    bottom: 13rem;
  }

  .main-section-two > div > div {
    align-items: center;
  }

  .main-section-two > div > div :first-child {
    font-size: 1.5rem;
  }
  .main-section-two > div > div :last-child {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .main-section-one > div {
    font-size: 1.5rem;
    left: 32vw;
    text-transform: capitalize;
  }

  .main-section-two {
    row-gap: 2rem;
  }
  .main-section-two > div {
    /* its width is 40% of the parent width main-section-two */

    border-radius: 2rem;
    border-top-right-radius: 10rem 15rem;
    border-top-left-radius: 1rem 6.5rem;
  }

  .main-section-two > div img {
    width: 100%;
    height: 80%;
    border-radius: 1rem 6rem/10rem 15rem;
  }

  .main-section-two > div > div :last-child {
    font-size: 1.5rem;
    font-weight: 700;
    word-spacing: 1px;
    letter-spacing: 0.5px;
  }
}

@media (min-width: 768px) {
  .main-section-two {
    width: 100%;
    height: auto;
    padding: 6rem 1rem 1.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .main-section-two > div {
    /* its width is 40% of the parent width main-section-two */
    height: auto;
    width: fit-content;
  }

  .main-section-two > div img {
    width: 100%;
    height: 24rem;
    cursor: crosshair;
  }
  .main-section-two > div > div :last-child {
    cursor: pointer;
  }
  .main-section-two > * {
    flex: none;
  }
}

@media (min-width: 1024px) {
  .main-section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-section-one > div {
    font-size: 1.5rem;
    left: 40vw;
  }
  .main-section-two {
    width: 80%;
  }
}
