* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none; /* Safari / iOS */
  -ms-user-select: none; /* old Edge */
}

.main-section-one {
  width: 100vw;
  height: auto;
  align-self: center;
  background-color: hsla(301, 69%, 28%, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
}

.main-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-heading h1 {
  color: white;
  font-size: clamp(3rem, 5vw, 5rem);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}

.main-section-two {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.main-section-two article {
  box-sizing: content-box;
  background-color: rgba(38, 197, 225, 0.726);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 15rem;
  height: 15.5rem;
  padding-bottom: 0.5rem;
  transition: transform 0.3s ease-in;
}

.main-section-two article:hover {
  transform: scale(1.09);
}

.main-section-two article:hover::after {
  opacity: 1;
  z-index: 99999;
}

.main-section-two article::after {
  content: "Double click on image to enter the project";
  position: relative;
  bottom: 10rem;
  /* left: 2%; */
  opacity: 0;
  transition: opacity 0.3s;
  background: rgba(0, 0, 0, 0.4);
  color: #04d4f8;
  padding: 4px 8px;
  font-size: 1rem;
  text-wrap: wrap;
}

.main-section-two article img {
  width: 15rem;
  height: 12rem;
  border-radius: 1.5rem;
}

.main-section-two article div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.main-section-two article div span {
  color: white;
  font-size: 1rem;
  white-space: wrap;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.3px;
}

.main-section-two article div button {
  font-size: 1rem;
  text-wrap: nowrap;
  color: white;
  padding: 0.2rem 0.5rem;
  background-color: rgba(0, 13, 255, 0.4);
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
  cursor: pointer;
}

.main-section-two article div button:active {
  transform: scale(1.02);
  background-color: rgba(0, 13, 255, 0.7);
}

/*
@media (min-width: 400px) {
  .main-section-one > div {
    font-size: 1.3rem;
    left: 26vw;
  }

  .main-section-two {
    row-gap: 1.5rem;
  }

  .main-section-two > div::after {
    font-size: 1.5rem;
    bottom: 13rem;
  }

  .main-section-two > div > div {
    align-items: center;
  }

  .main-section-two > div > div :first-child {
    font-size: 1.5rem;
  }
  .main-section-two > div > div :last-child {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .main-section-one > div {
    font-size: 1.5rem;
    left: 32vw;
    text-transform: capitalize;
  }

  .main-section-two {
    row-gap: 2rem;
  }
  .main-section-two > div {
    

    border-radius: 2rem;
    border-top-right-radius: 10rem 15rem;
    border-top-left-radius: 1rem 6.5rem;
  }

  .main-section-two > div img {
    width: 100%;
    height: 80%;
    border-radius: 1rem 6rem/10rem 15rem;
  }

  .main-section-two > div > div :last-child {
    font-size: 1.5rem;
    font-weight: 700;
    word-spacing: 1px;
    letter-spacing: 0.5px;
  }
}

@media (min-width: 768px) {
  .main-section-two {
    width: 100%;
    height: auto;
    padding: 6rem 1rem 1.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .main-section-two > div {

    height: auto;
    width: fit-content;
  }

  .main-section-two > div img {
    width: 100%;
    height: 24rem;
    cursor: crosshair;
  }
  .main-section-two > div > div :last-child {
    cursor: pointer;
  }
  .main-section-two > * {
    flex: none;
  }
}


.project-default {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  border-radius: 1rem;
}
*/
