* {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  background-color: aqua;
}

.nav-list {
  list-style-type: none;
  height: 40px;
  width: auto;
  margin: auto 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-list li a {
  text-decoration: none;
}
