* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.main-section-one {
  width: 100vw;
  background-color: hsla(301, 69%, 28%, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}
.main-section-two {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.main-section-two h1 {
  /* background-color: blue; */
  width: 100%; /*98% of the parent width*/
  text-align: center;
  text-wrap: wrap;
  color: white;
  margin-top: 0.5rem;
  font-size: clamp(2.5rem, 5vw, 6.5rem);
  text-shadow: 0px 1.5px 8px rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
}

@media (max-width: 400px) {
  .main-section-two h1 {
    outline: 0.2rem solid greenyellow;
  }
}

.main-section-two article {
  width: 96%;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.main-content-container > :first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-container img {
  width: 23rem;
  height: 14rem;
  outline: 0.2rem solid greenyellow;
  border-radius: 1rem;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}

.img-container button {
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 1rem;
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 600;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  letter-spacing: 0.5px;
  border-radius: 1rem;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s ease-out 0s;
}

.img-container button:active {
  transform: translateX(-14px);
  border-bottom-left-radius: 4rem 2rem;
  border-top-left-radius: 4rem 2rem;
  outline: greenyellow groove 0.5px;
}

.main-content-container > :last-child {
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-des-container div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 1rem;
}

.project-des-container :nth-child(5) {
  border-bottom: none;
}

.project-des-container div h2 {
  color: white;
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 600;
  text-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.6);
}

.project-des-container div :where(p, li) {
  color: white;
  font-size: clamp(1.5rem, 4vw, 3rem);
  line-height: normal;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  white-space: wrap;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}

.project-des-container div p {
  margin-left: 1.5rem;
}

.project-des-container div p span {
  font-weight: 600;
  color: red;
  font-size: clamp(1.6rem, 4.5vw, 3.5rem);
}

.project-des-container div ul {
  list-style: none;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
}

.project-des-container div ul li span {
  font-weight: 600;
  color: red;
  font-size: clamp(1.6rem, 4.5vw, 3.5rem);
  text-align: center;
}

/* min-height handle for tablets  later */

@media (min-width: 400px) {
  .main-content-container > :first-child {
    justify-content: space-around;
  }
}

@media (min-width: 600px) {
  .main-section-two h1 {
    -webkit-text-stroke: 1px rgb(243, 9, 9);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }
  .main-content-container > :first-child {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 3rem;
  }

  .img-container button {
    padding: 0.5rem 1.5rem;
    transition: all 0.2s ease-in-out 1ms;
  }

  .img-container button:active {
    transform: translateX(-15px);
    border-bottom-left-radius: 7rem 3rem;
    border-top-left-radius: 7rem 3rem;
    outline: greenyellow groove 0.5px;
  }

  .img-container img {
    width: 28rem;
    height: 19rem;
  }
}

@media (min-width: 768px) {
  .img-container button {
    min-width: 15rem;
    min-height: 5rem;
  }
  .img-container img {
    width: 32rem;
    height: 23rem;
  }
}

@media (min-width: 1024px) {
  .main-content-container {
    row-gap: 6rem;
  }

  .img-container button {
    cursor: pointer;
  }

  .main-content-container > :first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    padding-bottom: 4rem;
  }
  .main-content-container > :last-child {
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: normal;
    row-gap: 2rem;
  }

  .project-des-container div {
    width: 75%;
    border-bottom: none;
  }

  .project-des-container > :first-child {
    background-color: blueviolet;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 1px 8px rgba(0, 255, 17, 0.5);
  }

  .project-des-container > :first-child:hover {
    outline: red solid 1.8px;
  }

  .project-des-container > :nth-child(3) {
    background-color: rgb(136, 15, 250);
    align-self: self-end;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 1px 8px rgba(0, 255, 17, 0.5);
  }

  .project-des-container > :nth-child(3):hover {
    outline: red solid 1.8px;
  }

  .project-des-container > :nth-child(5) {
    background-color: rgb(116, 4, 221);
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 1px 8px rgba(0, 255, 17, 0.5);
  }

  .project-des-container > :nth-child(5):hover {
    outline: red solid 1.8px;
  }

  .project-des-container div p span {
    text-rendering: optimizeLegibility;
    color: rgb(0, 225, 255);
    -webkit-text-stroke: 0.5px rgb(248, 7, 7);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }

  .project-des-container div ul li span {
    text-rendering: optimizeLegibility;
    color: rgb(0, 225, 255);
    -webkit-text-stroke: 0.5px rgb(248, 7, 7);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }
}

@media (min-width: 1280px) {
  .main-content-container > :last-child {
    width: 70%;
  }

  .project-des-container div {
    width: 85%;
  }
}
